@page "/Aportes/Edit/{AporteId:int}"
@inject AportesService aporteService
@inject NavigationManager nav
@rendermode InteractiveServer

<PageTitle>Editar</PageTitle>

@if (!string.IsNullOrEmpty(MensajeError))
{
    <div class="alert-danger">
        @MensajeError
    </div>
}

<EditForm Model="Aporte" OnValidSubmit="Modificar">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Registro de Aportes</h5>
            </div>

            <div class="card-body">

                @*Id del aporte*@
                <div class="mb-3">
                    <label>
                        <strong>AporteId</strong>
                        <InputNumber class="form-control" @bind-Value="@Aporte.AporteId" readonly/>
                    </label>

                </div>

                @*Nombre de la persona*@
                <div class="mb-3">
                    <label>
                        <strong>Nombre de la persona</strong>
                        <InputText class="form-control" @bind-Value="@Aporte.NombrePersona"/>
                    </label>
                </div>

                @*Observacion del aporte*@
                <div class="mb-3">
                    <label>
                        <strong>Observación</strong>
                    </label>
                    <InputText class="form-control" @bind-Value="Aporte.Observacion"/>
                </div>

                @*Monto del aporte*@
                <div class="mb-3">
                    <label>
                        <strong>Monto</strong>
                        <InputNumber class="form-control" @bind-Value="Aporte.Monto"/>
                    </label>
                </div>

                @*Fecha de registro del aporte*@
                <div class="mb-3">
                    <label>
                        <strong>Fecha de registro</strong>
                        <InputDate class="form-control" @bind-Value="Aporte.FechaRegistro" readonly></InputDate>
                    </label>
                </div>

            </div>
            @*Footer*@
            <div class="card-footer mt-2 text-center">
                <button type="submit" class="btn btn-primary bi bi-floppy">Modificar</button>
                <a href="/Aportes" class="btn btn-secondary"><span class="bi bi-arrow-left"></span> Retroceder</a>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    @*Metodo para buscar el aporte*@
    protected override async Task OnInitializedAsync()
    {
        Aporte = await aporteService.Buscar(AporteId);
    }
    @*Parametro para la directiva page*@ 
    [Parameter] 
    public int AporteId { get; set; }
    @*Nuevo Aporte, que recibe valores a traves del service*@
    public Aportes Aporte { get; set; } = new Aportes();
    @*Mensaje de error para validaciones*@
    public string MensajeError { get; set; } = String.Empty;
    @*Metodo Modificar*@
    private async Task Modificar()
    {
        var creado = await aporteService.Guardar(Aporte);
        if (creado)
        {
            nav.NavigateTo("/Aportes");
        }
        else
        {
            MensajeError = "El aporte no ha podido ser modificado";
        }
    }
}